<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%if(status){%>
        <title>true</title>
    <%} else {%>
        <title>false</title>
        <%}%>
        </head>
<body>
    <%if(status){ %>
        <h1>Your transaction was Success</h1>
    <%} else {%>
        <h1>Oops!... something went wrong!......</h1>
        <%}%>
</body>
</html>